* {
  margin: 0;
  padding: 0;
}

header, main, footer, nav, aside, article, section, div {
  display: block;
}

a {
  text-decoration: none;
}

body{
  font-family: Arial;
}

header {
  padding-top: 0.1px;
  width:100%;
  height:123px;
  background-color: #F2E9E9;
}

footer {
  width:100%;
  height:41px;
  background-color: #000000;
}

#layout1 main{
  width: 881px;
  height:860px;
  margin: 0 auto;
  background-color: #333333;
}

nav {
  width: 300px;
  height: 33px;
  margin: 50px auto;
  background-color: #000000;
}

.boxes div {
  position: absolute;
  background-color: #EBEF18;
}

#layout1 .text {
  float: left;
  width: 50%;
  height: 120px;
  background-color: blue;
}

#layout1 .boxes {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  width: 50%;
  height: 500px;
  background-color: red;
}

#layout1 .box1 {
  top: 44px;
  left: 0px;
  width: 75px;
  height: 23px;
}

.clear {
  clear: both;
}

.boxes div {
  position: absolute;
  background-color: #EBEF18;
}










