* {
  margin: 0;
  padding: 0;
}

header, main, footer, nav, aside, article, section, div {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body{
  font-family: 'Amiko', sans-serif;
}

header {
  padding-top: 0.1px;
  width:100%;
  height:123px;
  background-color: #F2E9E9;
}

footer {
  width:100%;
  height:41px;
  background-color: #000000;
  position: fixed;
  bottom: 0;
}

.clear {
  clear: both;
}

#layout1 main{
  width: 881px;
  height:860px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#layout2 main{
  margin: 0 auto;
  background-color: #FFFFFF;
}

nav {
  width: 350px;
  height: 33px;
  margin: 40px auto;
  background-color: #F2E9E9;
}


.boxes div {
  position: absolute;
  background-color: #EBEF18;
}

.nav-menu li {
  display: inline;
  padding-left: 18px;
}

.nav-menu li a {
  color: #000000;
  font-size: 24px;
}

.nav-menu li a:hover {
  color: #F72828;
}

.circle {
  display: block;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background: #F72828;
}

#layout1 .circle {
  margin-left: 34px;
}

#layout2 .circle {
  margin-left: 125px;
}

#layout3 .circle {
  margin-left: 255px;
}

#layout1 .text {
  position: relative;
  float: left;
  width: 50%;
  height: 120px;
}

.title-text {
  position: absolute;
  top: 267px;
}

#layout1 .title-text h1 {
  font-size: 72px;
}

#layout1 .title-text h3 {
  font-size: 24px;
}

#layout1 .boxes {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  width: 50%;
  height: 500px;
  margin-top: 91px;
}

#layout1 .box1 {
  top: 44px;
  left: 0px;
  width: 75px;
  height: 23px;
}

#layout1 .box2 {
  top: 75px;
  left: 0px;
  width: 136px;
  height: 46px;
}

#layout1 .box3 {
  top: 132px;
  left: 0px;
  width: 134px;
  height: 404px;
}

#layout1 .box4 {
  top: 547px;
  left: 0px;
  width: 88px;
  height: 28px;
}

#layout1 .box5 {
  top: 582px;
  left: 0px;
  width: 25px;
  height: 26px;
}

#layout1 .box6 {
  top: 582px;
  left: 32px;
  width: 25px;
  height: 26px;
}

#layout1 .box7 {
  top: 44px;
  left: 149px;
  width: 246px;
  height: 352px;
}

#layout1 .box8 {
  top: 412px;
  left: 149px;
  width: 123px;
  height: 212px;
}

#layout1 .box9 {
  top: 412px;
  left: 286px;
  width: 55px;
  height: 105px;
}

#layout1 .box10 {
  top: 524px;
  left: 286px;
  width: 110px;
  height: 58px;
}

#layout1 .box11 {
  top: 0px;
  right: 0px;
  width: 28px;
  height: 55px;
}

#layout1 .box12 {
  top: 66px;
  right: 0px;
  width: 28px;
  height: 55px;
}

#layout1 .box13 {
  top: 132px;
  right: 0px;
  width: 28px;
  height: 55px;
}

#layout1 .box14 {
  top: 198px;
  right: 0px;
  width: 28px;
  height: 198px;
}

#layout1 .box15 {
  top: 412px;
  right: 0px;
  width: 55px;
  height: 105px;
}

#layout1 .boxes div {
  background-color: #EBEF18;
}

#layout2 .boxes div {
  background-color: #C4C4C4;
}

#layout2 aside {
  position: absolute;
  right: 0px;
  background-color: #EBEF18;
  height: 2125px;
  width: 169px;
}

#layout2 .boxes {
  position: relative;
  top: 0px;
  left: 151px;
  float: left;
  width: 969px;
  height: 467px;
  margin-top: 119px;
}

#layout2 .box1 {
  top: 0;
  left: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box2 {
  top: 369px;
  left: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box3 {
  top: 738px;
  left: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box4 {
  top: 1107px;
  left: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box5 {
  top: 1476px;
  left: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box6 {
  top: 168px;
  right: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box7 {
  top: 537px;
  right: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box8 {
  top: 906px;
  right: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box9 {
  top: 1275px;
  right: 0;
  width: 457px;
  height: 299px;
}

#layout2 .box10 {
  top: 1644px;
  right: 0;
  width: 457px;
  height: 299px;
}

#layout2 .side-content {
  position: relative;
}

#layout2 .side-box1 {
  position: absolute;
  top: 119px;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

#layout2 .side-box2 {
  position: absolute;
  top: 247px;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
}

#layout2 .side-box3 {
  position: absolute;
  top: 616px;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.side-letters {
  position: relative;
  top:1240px;
}

.side-letters li {
  font-size: 96px;
  text-align: center;
  color: #000000;
}

.side-letters li a {
  color: #000000;
}


#layout3 header {
  position: relative;
}

#layout3 header .black-box {
  background-color: black;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 24px;
  top: 21px;
}

#layout3 main {
  float: left;
  width: 67vw;
  min-height: 100vh;
}

#layout3 nav {
  background-color: #E5E5E5;
  float: left;
  width: 25vw;
  clear: both;
  margin: 0;
  height: auto;
}

#layout3 .wrapper{
  height: 100%;
  display: flex;
  }

#layout3 nav .nav-menu {
  margin-top: 123px
}

.yellow-foot {
  width:100%;
  height:443px;
  background-color: #EBEF18;
  display: -webkit-box;
}

.green-side {
  background: rgba(24, 239, 33, 0.3);
  width: 115px;
  margin: 0;
}

#layout3 .square {
  margin: 150px 70px;
  background-color: #000000;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  margin: 150px 70px;
  background-color: #000000;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show h1 {
  color: #FFFFFF;
}

.found {
  background: rgba(24, 239, 33, 0.3);
  margin: 150px 70px;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* layout3 mobile */
@media only screen and (max-width:768px){

#layout3 main {
  width: 100%;
  min-height: 100vh;
}

#layout3 nav {
  margin: 0 auto;
  height: 105px;
  width: 100%;
}

#layout3 .wrapper {
  display: block;
}

#layout3 nav .nav-menu {
  position: absolute;
  top: 32px;
  left: 24%;
}


.yellow-foot {
 display: flex;
}

.green-side {
  display: none;
}

