* {
  margin: 0;
  padding: 0;
}

header, main, footer, nav, aside, article, section, div {
  display: block;
}

a {
  text-decoration: none;
}

body{
  font-family: Arial;
}

header {
  width:100%;
  height:123px;
  background-color: #F2E9E9;
}

footer {
  width:100%;
  height:41px;
  background-color: #000000;
}

#layout1 main{
  width: 881px;
  height:860px;
  margin: 0 auto;
  background-color: #333333;
}
